/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}
.destacado{
	font-weight:bold;
	font-family:'Droid Serif', Arial, Helvetica, sans-serif; 
	line-height:1.5em;
	margin:.45em 0;
	padding:0;
	color: #0065a6;
}

.image-icon {
	/*float:left;*/
	min-width: 200px;
	min-height: 200px;
	text-align: center;
}
.separator{
	min-height:50px;
}

.emplea30{
    text-align: center;
    width: 100%;
    /*float:left;*/
}

.magtel{
    background-color: #002596;
    color: white;
}

 .profesion{
	display:inline-block;
	font-size: 25px;
	margin-left:20px;
 }
 
/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  text-align: center;  
  padding: 7rem 0 7rem;  
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
}
.phone + .phone {
  display: none;
}

.logo{
	width:100%;
	max-width:300px;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
  font-size: 16px;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description { 
  margin-bottom: 4rem;
}

/* Financiado
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.financiado {
  background-image: url('../images/financiado-bg.jpg');
  background-size: cover;

}

.galeria{
  background-color: #c5f9eb;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
        text-align: center;
}

/* Bigger than 550 */
@media (min-width: 550px) {

  .hero {
    text-align: left;
  }
  
   .phone {
    position: absolute;
    top: -1rem;
    right: 3rem;
	z-index: 3;	    
  }
  .phone + .phone {
    top: 1rem;
	right: 0;
	z-index: 2;
    display: block;	
    max-width: 73.8%;    
  }
  
  .hero-heading {
    font-size: 2.4rem;
  }
  
  /***   ***/
  .image-icon {	
	width:100%;
	min-width: initial;
	min-height:initial;
  }

  .image-icon img{
	width:100%;
	max-width:200px;
	max-height:200px;
  }
  
  .value-heading{
	font-size:3.0rem;
  }
  
  .logo{
	width:100%;
	max-width:350px;
  }
  
  .logogoogle{
	position:relative;
  }

  .u-max-full-width.googleplay{
     position:absolute;
  }
  
  .h1cabecera{ 
	 font-size:2.8rem;  
  }
  
  .h3cabecera{
     font-size:1.8rem;  
  }
  
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero{
	 padding: 9rem 0 9rem;
  } 


  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .categories {
    padding: 15rem 0 8rem;
  }
  
  /****   *****/
  
  .value-heading{
	font-size:3.6rem;
  }
  
  .values{
    padding:10rem 0 10rem;
  }
  
  .h1cabecera{ 
	 font-size:3.8rem;  
  }
  
  .h3cabecera{
     font-size:2.8rem;  
  }
  
  
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
 
  .hero {
    padding: 10rem 0 10rem;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
   
    max-height: 615px;
  }
  .phone + .phone {
 
    max-height: 570px;
  }
  
   .h1cabecera{ 
	 font-size:4.8rem;  
  }
  
  .h3cabecera{
     font-size:3.8rem;  
  }
  
   .values{
    padding:15rem 0 15rem;
  }
} 